$tr-bg-color: $white;
$th-color:$purple;
$tbody-hover:darken($light-gray,15%);
$border:1px solid $black;
$thead-border:1px solid $white;

$table-font:$roboto;

.course-section{
    padding: 50px 0;
    
    @include styleSection(50px, 50px, transparent);

    table{
        border: $border;
        border-collapse: collapse;
        width: 100%;
        
        th,td{
            border: $border;
            padding: 10px 5px;
        }

        caption{
            text-align: start;
            font-style: italic;
        }

        thead{
            background-color: lighten($th-color, 50%);
            
            th{
            color: colorYiq(lighten($th-color, 50%));
            border:$thead-border;
            }
        }
        
        tbody{
            tr{
                &:nth-of-type(even){
                    background-color: $tr-bg-color;
                }
                &:hover{
                    background-color: $tbody-hover;
                }
            }
        }
    }
}


@media(min-width:768px){
    .course-section{

        table{

            th,td{
                padding: 12px  10px;
     
            }
        }
    }
}

