
//mixin

@mixin radius($radius){

    @if($enable-radius){
        border-radius: $radius;
        -moz-border-radius: $radius;
        -webkit-border-radius: $radius;
        -o-border-radius:$radius;
    }
    @else{
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius:0px;
    }


}


@mixin customRadius($rtl, $rtr, $rbr, $rbl){
    @if($enable-radius){
        border-radius: $rtl $rtr $rbr $rbl;
        -moz-border-radius: $rtl $rtr $rbr $rbl;
        -webkit-border-radius: $rtl $rtr $rbr $rbl;
        -o-border-radius:$rtl $rtr $rbr $rbl;
    }
    @else{
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius:0px;
    }

    
}

@mixin styleSection($pt,$pb,$bg){
    padding: $pt 0 $pb;
    background-color: $bg;
}

@mixin display-flex(){
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
}

@mixin flex($grow,$shrink,$basis){
     
    flex: $grow $shrink $basis;
    -webkit-flex:$grow $shrink $basis;
    -moz-flex:$grow $shrink $basis;
    -ms-flex:$grow $shrink $basis;
    
}

//function

@function colorYiq($color){
    $r: red($color);
    $g: green($color);
    $b: blue($color);
    
    $yiq: $r*0.299 + $g*0.587 + $b*0.114;
    
    @if($yiq > 129){ //od 125 do 129 je granica za tamije nijanse
        @return $black;
    }@else{
        @return $white;
    }
}