$home-bg:$white;

.home-section{
    @include styleSection(150px, 150px, $home-bg);
    background-image: url(../img/home.png); //putanja mora da bude relativna u odnosu na css fajl a ne na scss
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

